@import '../common/styles/sass/variables.scss';

.headerBlock {
    max-width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $backgroundMainColor;
    border-bottom: 1px solid;
    border-color: rgb(226, 226, 226);
}