$backgroundMainColor: #F6F7FA;
$titleColor: #54595F;
$blackColor: #010101;;
$primeryColor: #6EC1E4;
$secondColor: #FA3668;
$descriptionColor: #707070;
$fontFamilyQuicksand: 'Quicksand', sans-serif;
$fontFamilyRoboto: 'Roboto', sans-serif;
$fontFamilyMarcellus: 'Marcellus', sans-serif;