@import '../common/styles/sass/mixins.scss';
@import '../common/styles/sass/variables.scss';

.aboutMeBlock {
    min-height: 80vh;
    display: flex;

    .photo {
        width: 650px;
        height: 440px;
        border-radius: 10px;

        @media screen and (max-width: 1511px) {
            justify-content: center;
            margin-left: 0px;
        }
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-around;

        & span {
            @include text (18px, 1.2em, 400, $fontFamilyQuicksand, $descriptionColor);
            margin-bottom: -30px;
        }

        & h2 {
            @include text (37px, 58px, 400, $fontFamilyMarcellus, $blackColor);
        }

        .p {
            @include text (18px, 1.2em, 400, $fontFamilyQuicksand, $descriptionColor);
            max-width: 420px;
            line-height: 1.5
        }

        .button {
            width: 160px;
            font-family: $fontFamilyQuicksand, Sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
            color: #707070;
            background-color: #e2e3e6;
            border-style: solid;
            border-radius: 25px;
            margin-top: 50px;
            padding: 12px;
            box-shadow: 0 0 10px 0 rgba(182, 184, 192, .18);
            transition: 0.3s;

            &:hover {
                background-color: $secondColor;
                color: white;
                cursor: pointer;
            }
        }
    }
}